<p>Mean time (in seconds) per frame for reading: {{mean_spf_in}}</p>
<p>Mean time (in seconds) per frame for analyzing: {{mean_spf_out}}</p>
<p>Mean time (in seconds) per frame for all: {{mean_spf_all}}</p>
<h3>On-Screne stats (update every 500ms)</h3>
<ul>
    <li>Persons: {{on_screne[0]}}</li>
    <li>Skates: {{on_screne[1]}}</li>
    <li>Skaters: {{on_screne[2]}}</li>
</ul>
<h3>Total stats</h3>
<ul>
    <li>Persons: {{total[0]}}</li>
    <li>Skates: {{total[1]}}</li>
    <li>Skaters: {{total[2]}}</li>
</ul>